@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #F7F2E8;
    --title-color:#1A1A1A;
    --headings-color: #3c0e0e;
    --brand-color: #431B1B;
}

body{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}


.header-image
{
    position: absolute;
    top:0;
    right: 0;
    z-index: -1;
}

.container{
    width: 1188px;
    position: relative;
}

.navbar{
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.navbar__logo
{
    width: 120px;
    height: 150px;
    margin-right: 50px;
    
}
.navbar__logo-links
{
    display: flex;
    align-items: center;
}

.navbar__links{
    display: flex;
    list-style: none;
    gap:42px;
    color: var(--headings-color);
    font-size: 20px;
    font-weight: 500;
}

.navbar__links .active{
    border-bottom: 5px solid var(--headings-color) ;
}

.navbar__title{
    margin-right: 42px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 24px;
}


.navbar__login-group
{
    display: flex;
    list-style: none;
    align-items: center;
    gap:42px;
}
.navbar__login-link
{
    color:var(--headings-color);
    font-size: 20px;
    font-weight: 500;
}

.navbar__delivery-link button{
    background-color: var(--brand-color);
    padding: 10px 32px;
    border-radius: 39px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.navbar__hamburguer-button button{
    background-color: transparent;
    display: none;
}


.titles{
    margin-top: 45px;
}
.titles__slogan
{
    font-weight: 700;
    color:var(--headings-color);
    font-size: 24px;

}

.titles__main
{
    color: var(--headings-color);
    font-weight: 700;
    font-size: 80px;
    width:252px;
    line-height: 104.5%;
}

.titles__description
{
    color: var(--headings-color);
    font-weight: 500;
    font-size: 16px;
    width:350px;
    margin-top:20px;
    line-height: 157%;
}

.navbar__mobile{
    display: none;
}
@media screen and (max-width:500px)
{
    .container{
        width: 100%;
        overflow:hidden;
        padding: 10px;
    }

    .navbar__login-link
    {
        display: none;
    }
    .navbar__login-links{
        display: none;
    }
    .navbar__links
    {
        display: none;
    }

    .navbar__logo{
        width: 100px;
        height: 120px;
        margin-right: 10px;
    }

    .navbar__logo-links
    {
        gap:10px;
    }

    .navbar__login-group
    {
        display: flex;
        list-style: none;
        align-items: center;
        gap:10px;
    }

    .navbar__delivery-link button{
        font-size: 16px;
    }

    .navbar__title
    {
        font-size: 16px;
        font-weight: 700;
        margin-right: 0px;
    }

    .navbar__hamburguer-button button{
        background-color: transparent;
        display: block;
    }
    .header-image{
        top:15px;
        right: -270px;
        height: 450px;
    }

    .navbar__mobile.open{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top:12px;
        gap: 10px;
    }
    .navbar__mobile{
        display: none;
    }
    .titles{
        margin-top: 25px;
    }
    .titles__main
    {
        font-size: 32px;
        width: 154px;
        font-weight: 700;
        line-height: 104.5%;
        margin-top:12px;
    }
    .titles__description{
        width: 160px;
    }
}